  <table class="table table-striped">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Brewery</th>
      <th>Style</th>
      <th>Season</th>
      <th>Is Good</th>
    </tr>
  </thead>
  <tbody>
    {{#each beers}}
    <tr>
      <td>{{this.attributes.beer}}</td>
      <td>{{this.attributes.brewery}}</td>
      <td>{{this.attributes.style}}</td>
      <td>{{this.attributes.season}}</td>
      {{#if this.attributes.isGood}}
        <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
      {{else}}
        <td><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>